
.accordion {
    padding: 5%;
    padding-top: 0;
}

.btn-colorppal {
    background-color: $color-principal;
    color: aliceblue;
}
.accordion-item {
    color: $color-principal;
}

.accordion-button {
    color: $color-principal;
}
