.footer {
    background-color: rgb(222, 239, 254);
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    position:relative;

    z-index: 11;


    &__box {
        font-size: map-get($estilos, tfuente);
        line-height: 0.5rem;
        text-align: map-get($estilos, centro);
        color: $color-principal;
        
    }
    
    &__box2 {
        font-size: map-get($estilos, tfuente);
        line-height: 0.5rem;
        padding: -3rem 1rem 0rem;
        padding-bottom: 32px;
        text-align: center;
        color: $color-principal;
    
        
    }
    
    &__instagram {
       text-align:start center;
    }
    
    &__derechos {
        background-color: RGBA(0, 51, 102);
        text-align: map-get($estilos, centro);
        color: map-get($estilos, color);
        font-size: smaller;
    }
    

}



#instagram {
    font-size:x-large;
    text-decoration: none;
    color: RGBA(0, 51, 102);

}

