/*Lista especialidades*/

.list  {
    
    display:inline-block;
    padding-left: 20%;
    color: $color-principal;
  

}
/*galeria Especialistas*/

.grid__especialistas {
    border: 2px solid aliceblue;
    padding: 1rem;
    padding-bottom: 2rem;
    min-height: 500px;
    
    display: grid;

    grid-template-columns: repeat(3, 1fr);


    grid-template-rows: repeat(6, 1fr);

    grid-template-areas: 
    "ele1 ele2 ele3" 
    "ele4 ele5 ele6" 
    "ele7 ele8 ele9"
    "ele10 ele11 ele12"
    "ele13 ele14 ele15"
    "ele16 ele17 ele17";

    justify-items: stretch;
    align-items: stretch;

    justify-content: space-between;
    justify-content: space-between;

}

.grid__especialista__imagen {
    border: 2px solid aliceblue;
    padding: 0;
    color: map-get($estilos, color);
    text-align: map-get($estilos, centro);

    position: relative;
}

.grid__especialista__imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    padding-block: 2%;
    padding-inline: 2%;
}

.grid__especialista__imagen--1 {
    grid-area: ele1;
}

.grid__especialista__imagen--2 {
    grid-area: ele2;
}

.grid__especialista__imagen--3 {
    grid-area: ele3;
}

.grid__especialista__imagen--4 {
    grid-area: ele4;
}

.grid__especialista__imagen--5 {
    grid-area: ele5;
}

.grid__especialista__imagen--6 {
    grid-area: ele6;
}

.grid__especialista__imagen--7 {
    grid-area: ele7;
}

.grid__especialista__imagen--8 {
    grid-area: ele8;
}

.grid__especialista__imagen--9 {
    grid-area: ele9;
}

.grid__especialista__imagen--10 {
    grid-area: ele10;
}

.grid__especialista__imagen--11 {
    grid-area: ele11;
}

.grid__especialista__imagen--12 {
    grid-area: ele12;
}

.grid__especialista__imagen--13 {
    grid-area: ele13;
}

.grid__especialista__imagen--14 {
    grid-area: ele14;
}

.grid__especialista__imagen--15 {
    grid-area: ele15;
}

.grid__especialista__imagen--16 {
    grid-area: ele16;
}

.grid__especialista__imagen--17 {
    grid-area: ele17;
    height: fit-content;
    padding-top: 10%;
    
    
}

.grid__texto1 {
    position: absolute;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    padding: 0.5rem 1rem;
    font-size: large;
    border-radius: 9.5px;
    margin-right: 2.5%;
    margin-bottom: 9px;
    padding: 10px;
    text-decoration: none;
}